<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Posts</title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="search">
        <h3>search settings</h3>
        <form action="#" method="get" th:action="@{/}" th:object="${searchSettings}">
            <input type="text" th:field="*{tag}" placeholder="tag">
            <input type="text" th:field="*{authors}" placeholder="authors">
            <input type="text" th:field="*{word}" placeholder="word">
            <input type="submit" value="apply">
        </form>
    </div>
    <div class="posts">
        <th:block th:each="post : ${posts}" th:insert="fragments/post"></th:block>
    </div>
</body>
</html>