<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Post</title>
</head>
<body>
    <div class="post-details">
        <a th:href="@{/}"><button>back</button></a>
        <div th:replace="fragments/post"></div>
        <div class="form-comment">
            <form action="#" method="post" th:action="@{/comment/{idPost}(idPost=${post.getId()})}" th:object="${commentTemplate}">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{username}" placeholder="username">
                <textarea th:field="*{commentContent}" placeholder="comment"></textarea>
                <input type="submit" th:value="send">
            </form>
        </div>
        <div class="comments">
            <div th:each="comment : ${post.getComments()}" class="comment">
                <div class="author-wrapper">
                    <span th:text="${comment.getUsername()}" class="author"></span>
                </div>
                <p th:text="${comment.getCommentContent()}"></p>
            </div>
        </div>
    </div>
</body>
</html>