<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Post</title>
</head>
<body>
    <th:block th:insert="fragments/navbar :: fragment(${'/post/#p_' + post.id})"></th:block>
    <div class="post-details">
        <th:block th:insert="fragments/post"></th:block>
        <div class="form-comment">
            <form action="#" method="post" th:action="@{/post/{idPost}(idPost=${post.id})}" th:object="${commentTemplate}">
                <input type="text" th:field="*{username}" placeholder="username">
                <textarea th:field="*{commentContent}" placeholder="comment"></textarea>
                <input type="submit" value="send">
            </form>
        </div>
        <div class="comments">
            <div th:each="comment : ${post.comments}" class="comment" th:attr="id=${'c_' + comment.id}" th:with="isEdited=${commentEdited!=null && commentEdited.id.equals(comment.id)}">
                <div class="config-buttons-wrapper">
                    <th:block th:switch="${isEdited}">
                        <a th:case="true" th:href="@{/post/{idPost}(idPost=${post.id})} + ${'#c_'+comment.id}">
                            <button>cancel</button>
                        </a>
                        <a th:case="*" th:href="@{/post/{idPost}/comment/{id}/edit(idPost=${post.id}, id=${comment.id})} + ${'#c_'+comment.id}">
                            <button>edit</button>
                        </a>
                    </th:block>
                    <a th:href="@{/post/{idPost}/comment/{id}/delete(idPost=${post.id}, id=${comment.id})}">
                        <button>X</button>
                    </a>
                </div>
                <div class="author-wrapper">
                    <a th:href="@{/author/{username}(username=${comment.username})}" th:text="${comment.username}" class="author"></a>
                </div>
                <th:block th:switch="${isEdited}">
                    <form th:case="true" th:object=${commentEdited} action="#" th:action="@{/post/{idPost}/comment/{id}/edit(idPost=${post.id}, id=*{id})}" method="post" class="form-comment-edit">
                        <textarea th:field="*{commentContent}" placeholder="comment"></textarea>
                        <input type="submit" value="update">
                    </form>
                    <p th:case="*" th:text="${comment.commentContent}"></p>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>