<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdited=${isEdited!=null && isEdited}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="${isEdited ? 'Edit Post' : 'New Post'}"></title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="post-details">
        <div class="form-post">
            <div class="config-buttons-wrapper">
                <a th:href="@{${isEdited ? '/post/'+post.id : '/'}}">
                    <button>cancel</button>
                </a>
                <a th:if="${isEdited}" th:href="@{/post/{id}/delete(id=${post.id})}">
                    <button>X</button>
                </a>
            </div>
            <form action="#" th:action="@{${'/post' + (isEdited ? '/'+post.id+'/edit' : '')}}" method="post" th:object="${post}" enctype="multipart/form-data">
                <th:block th:object="${postExtras}">
                    <span class="error-message" th:if="${#fields.hasErrors('authorsString')}" th:errors="*{authorsString}"></span>
                    <input class="input-wider" type="text" th:field="*{authorsString}" placeholder="author1 author2...">
                </th:block>

                <span class="error-message" th:if="${#fields.hasErrors('postContent')}" th:errors="*{postContent}"></span>
                <textarea th:field="*{postContent}" placeholder="content"></textarea>

                <ul th:if="${isEdited}">
                    <li th:each="attachment,status : *{attachments}">
                        <a th:href="@{/attachment/{idPost}/{filename}(idPost=*{id},filename=${attachment.filename})}" th:text="${attachment.filename}"></a>
                        <input type="checkbox" th:name="${'attachmentsToDelete'}" th:id="${'attachmentsToDelete'+ (status.index+1)}" th:value="${attachment.id}">
                        <span>to delete</span>
                    </li>
                </ul>

                <th:block th:object="${postExtras}" th:if="${!isEdited}">
                    <!-- <span class="error-message" th:if="${#fields.hasErrors('attachmentsUploaded')}" th:errors="*{attachmentsUploaded}"></span>
                    <input type="checkbox" th:each="attachment,status : *{attachmentsUploaded}" th:checked="${attachment}" name="attachmentsUploaded" th:id="${'attachmentsUploaded'+(status.index+1)}"> -->

                    <span class="error-message" th:if="${#fields.hasErrors('attachmentsFiles')}" th:errors="*{attachmentsFiles}"></span>
                    <input type="file" id="attachmentsFiles" name="attachmentsFiles" multiple>
                </th:block>

                <span class="error-message" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></span>
                <input class="input-wider" type="text" th:field="*{tags}" placeholder="tag1 tag2...">

                <input type="submit" th:value="${isEdited ? 'update' : 'post'}">
            </form>
        </div>
    </div>
</body>
</html>