<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>State</title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="state">
        <h3>server state export</h3>
        <a th:href="@{/state/download}"><button>download</button></a>
    </div>
    
    <div class="state">
        <h3>server state import</h3>
        <span th:text="${#strings.arrayJoin(filenames, ', ')}"></span>
        <form action="#" method="post" th:action="@{/state}" enctype="multipart/form-data" th:object="${stateFiles}">
            <span class="error-message center" th:if="${#fields.hasErrors('files')}" th:errors="*{files}"></span>
            <input type="file" id="files" name="files" multiple>

            <input type="submit" value="upload">
        </form>
    </div>
</body>
</html>