<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>User</title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="author-details">
        <h2 th:text="${user.username}"></h2>
        <table>
            <tr>
                <th colspan="2">Activity</th>
            </tr>
            <tr>
                <td>comments</td>
                <td th:text="${commentsAll.size()}"></td>
            </tr>
            <tr>
                <td>commented posts</td>
                <td th:text="${posts.size()}"></td>
            </tr>
        </table>
    </div>
    <div class="posts">
        <th:block th:each="post, postStat : ${posts}">
            <div class="comments">
                <th:block th:each="comment : ${comments[postStat.index]}" th:insert="fragments/comment"></th:block>
            </div>
            <th:block th:insert="fragments/post"></th:block>
        </th:block>
    </div>
</body>
</html>