.posts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.post {
    width: 700px;
    border: 1px solid black;
    padding: 10px;
}
.post:not(:first-child) {
    margin-bottom: 30px;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.author {
    font-weight: bold;
}
.author:not(:last-child) {
    margin-right: 10px;
}

.tags {
    border-top: 1px solid black;
    font-style: italic;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}
.comment, .form-comment {
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}
.author-wrapper {
    border-bottom: 1px solid black;
}

.form-comment input,
.form-comment-edit input {
    display: block;
}
.form-comment textarea,
.form-comment-edit textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    resize: none;
}
.form-comment input[type="submit"],
.form-comment-edit input[type="submit"] {
    margin-left: auto;
}
.form-comment input:not(:first-child), .form-comment textarea,
.form-comment-edit input:not(:first-child), .form-comment-edit textarea {
    margin-top: 10px;
}

.config-buttons-wrapper {
    display: flex;
    justify-content: end;
}
.config-buttons-wrapper button:not(:first-child) {
    margin-left: 5px;
}