body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: lightsteelblue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar, .navbar-dummy {
    height: 80px;
}
.navbar-dummy {
    margin-bottom: 30px;
}
.navbar > h1 {
    flex: 1;
    text-align: center;
    font-size: 36px;
    margin: 0;
}
.navbar > div {
    flex: 1;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}
.navbar-right a {
    font-size: 26px;
    font-weight: bold;
}
.navbar-right a:not(:last-child) {
    margin-right: 20px;
}

.posts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.post, .form-post {
    width: 700px;
    border: 1px solid black;
    padding: 10px;
    scroll-margin-top: 110px;
}
.form-post {
    scroll-margin-top: initial;
}
.post:not(:first-child) {
    margin-bottom: 30px;
}

.post-id {
    font-style: italic;
    margin-top: 0px;
}
.post-inside-info span {
    display: block;
    font-weight: bold;
}
.authors {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.author {
    font-weight: bold;
}
.author:not(:last-child) {
    margin-right: 10px;
}

.tags {
    border-top: 1px solid black;
    font-style: italic;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}
.comment, .form-comment {
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}
.form-comment {
    margin-bottom: 30px;
}
.comment {
    scroll-margin-top: 90px;
}
.author-wrapper {
    border-bottom: 1px solid black;
}

.form-comment-edit {
    margin-top: 10px;
}
.form-comment input,
.form-comment-edit input,
.form-post input {
    display: block;
}
.form-comment textarea,
.form-comment-edit textarea,
.form-post textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    resize: none;
}
.form-post textarea {
    height: 100px;
}
.form-comment input[type="submit"],
.form-comment-edit input[type="submit"],
.form-post input[type="submit"] {
    margin-left: auto;
}
.form-comment input:not(:last-child), .form-comment textarea,
.form-comment-edit input:not(:last-child), .form-comment-edit textarea,
.form-post input:not(:last-child), .form-post textarea {
    margin-bottom: 10px;
}

.form-post .input-wider {
    width: 300px;
}

.config-buttons-wrapper {
    display: flex;
    justify-content: end;
}
.config-buttons-wrapper button:not(:first-child) {
    margin-left: 5px;
}

.author-details {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.author-details table {
    border-collapse: collapse;
    margin: 30px 0;
}
.author-details table td, .author-details table th {
    border: 1px solid black;
    width: 120px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
}
.stats table {
    border-collapse: collapse;
}
.stats table td, .stats table th {
    border: 1px solid black;
    width: 150px;
    text-align: center;
}

.search {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
}
.search h3 {
    text-align: center;
    margin: 0;
}
.search input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.search input:not([type="submit"]), .search h3, .select-search {
    margin-bottom: 5px;
}
.select-search {
    display: flex;
    justify-content: center;
}
.select-search label {
    margin-right: 5px;
}

.users {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.users-title {
    text-align: center;
}
.users li {
    margin-bottom: 10px;
}

.post-new-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.error-message {
    color: red;
}