body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: lightsteelblue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar, .navbar-dummy {
    height: 80px;
}
.navbar-dummy {
    margin-bottom: 30px;
}
.navbar > h1 {
    flex: 1;
    text-align: center;
    font-size: 36px;
    margin: 0;
}
.navbar > div {
    flex: 1;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.post {
    width: 700px;
    border: 1px solid black;
    padding: 10px;
    scroll-margin-top: 110px;
}
.post:not(:first-child) {
    margin-bottom: 30px;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.author {
    font-weight: bold;
}
.author:not(:last-child) {
    margin-right: 10px;
}

.tags {
    border-top: 1px solid black;
    font-style: italic;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}
.comment, .form-comment {
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}
.comment {
    scroll-margin-top: 90px;
}
.author-wrapper {
    border-bottom: 1px solid black;
}

.form-comment input,
.form-comment-edit input {
    display: block;
}
.form-comment textarea,
.form-comment-edit textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    resize: none;
}
.form-comment input[type="submit"],
.form-comment-edit input[type="submit"] {
    margin-left: auto;
}
.form-comment input:not(:first-child), .form-comment textarea,
.form-comment-edit input:not(:first-child), .form-comment-edit textarea {
    margin-top: 10px;
}

.config-buttons-wrapper {
    display: flex;
    justify-content: end;
}
.config-buttons-wrapper button:not(:first-child) {
    margin-left: 5px;
}

.author-details {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.author-details table {
    border-collapse: collapse;
    margin-top: 30px;
}
.author-details table td, .author-details table th {
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
}
.stats table {
    border-collapse: collapse;
}
.stats table td, .stats table th {
    border: 1px solid black;
    width: 150px;
    text-align: center;
}