<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Posts</title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="search">
        <h3>specific post</h3>
        <form action="#" method="get" th:action="@{/}" th:object="${searchSettings}">
            <span class="error-message center" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
            <input type="text" th:field="*{id}" placeholder="id">

            <input type="submit" value="search">
        </form>
    </div>
    <div class="search">
        <h3>search settings</h3>
        <form action="#" method="get" th:action="@{/}" th:object="${searchSettings}">
            <th:block th:insert="fragments/selectSearch :: fragment('sort by comments number', sortByComments)"></th:block>
            <th:block th:insert="fragments/selectSearch :: fragment('sort by authors number', sortByAuthors)"></th:block>
            <th:block th:insert="fragments/selectSearch :: fragment('sort by content', sortByContent)"></th:block>

            <span class="error-message center" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}"></span>
            <input type="text" th:field="*{tag}" placeholder="tag">

            <span class="error-message center" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></span>
            <input type="text" th:field="*{authors}" placeholder="author1 author2...">
            
            <span class="error-message center" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></span>
            <input type="text" th:field="*{word}" placeholder="word">

            <input type="submit" value="apply">
        </form>
    </div>
    <div class="post-new-button-wrapper">
        <a th:href="@{/post}"><button>add new post</button></a>
    </div>
    <div class="posts">
        <th:block th:each="post : ${posts}" th:insert="fragments/post"></th:block>
    </div>
</body>
</html>