<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Post</title>
</head>
<body>
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="post-details">
        <a th:href="@{${'/#p_' + post.id}}" class="post-back-button"><button>go to posts</button></a>
        <th:block th:insert="fragments/post"></th:block>
        <div class="form-comment">
            <form action="#" method="post" th:action="@{/post/{idPost}(idPost=${post.id})}" th:object="${commentTemplate}">
                <th:block th:object="${commentExtras}">
                    <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <input type="text" th:field="*{username}" placeholder="username">
                </th:block>

                <span class="error-message" th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}"></span>
                <textarea th:field="*{commentContent}" placeholder="comment"></textarea>
                
                <input type="submit" value="send">
            </form>
        </div>
        <div class="comments">
            <th:block th:each="comment : ${post.comments}" th:insert="fragments/comment"></th:block>
        </div>
    </div>
</body>
</html>