<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block>
        <nav class="navbar">
            <div>
                <a th:if="${link!=null}" th:href="@{${link}}"><button>return</button></a>
            </div>
            <h1><a th:href="@{/}">Springblog</a></h1>
            <div class="navbar-right">
                <a th:href="@{/author}">authors</a>
                <a th:href="@{/user}">users</a>
                <a th:href="@{/stats}">stats</a>
                <a th:href="@{/state}">state</a>
            </div>
        </nav>
        <div class="navbar-dummy"></div>
    </th:block>
</body>
</html>