<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="post" th:attr="id=${'p_' + post.id}">
        <div class="authors">
            <span th:each="author : ${post.authors}" th:text="${author.username}" class="author"></span>
        </div>
        <p th:text="${post.postContent}"></p>
        <a th:if="${posts!=null}" th:href="@{/post/{id}(id=${post.id})}"><span th:text="${textComments + '(' + post.comments.size() + ')'}"></span></a>
        <ul>
            <li th:each="attachment : ${post.attachments}" th:text="${attachment.filename}"></li>
        </ul>
        <p th:text="${post.tags}" class="tags"></p>
    </div>
</body>
</html>