<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="post" th:attr="id=${'p_' + post.id}">
        <div class="config-buttons-wrapper">
            <a th:href="@{/post/{id}/delete(id=${post.id})}">
                <button>X</button>
            </a>
        </div>
        <p class="post-id">
            <a th:href="@{/post/{id}(id=${post.id})}" th:remove="${posts==null} ? tag : none">
                <span th:text="${post.id}"></span>
            </a>
        </p>
        <div class="authors">
            <a th:each="author : ${post.authors}" th:href="@{/author/{id}(id=${author.id})}" th:text="${author.username}" class="author"></a>
        </div>
        <p th:text="${post.postContent}"></p>
        <th:block th:switch="${posts==null}">
            <ul th:case="true">
                <li th:each="attachment : ${post.attachments}" th:text="${attachment.filename}"></li>
            </ul>
            <div th:case="*" class="post-inside-info">
                <span th:text="${'attachments: ' + post.attachments.size()}"></span>
                <span th:text="${'comments: ' + post.comments.size()}"></span>
            </div>
        </th:block>
        <p th:text="${post.tags}" class="tags"></p>
    </div>
</body>
</html>